.tooltip {
    position: relative;
    display: inline-block;
    font-size: medium;
    font-style: italic;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

/* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover {
    border-radius: 10px;
    border-right-color: seagreen;
    background-color: cyan;
    border-bottom-color: royalblue;
    border-left: slateblue;
    border-top: tomato;
    cursor: pointer;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.advertisementForDadsGame {
    margin: auto;
    width: 20%;
    text-align: right;
    border: 3px solid indigo;
    padding: 10px;
    overflow: auto;
}

a:link a:hover {
    cursor: pointer;
}

.SnakeImg {
    float: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
